.homeContainer{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin:0%;
  }
  
  .homeHeader{
    color: #FFFFFF;
  }
  .homeHeader a {
    text-decoration: none;
  }
  .homeHeader {
    font-family: "Nova Round";
  }

  nav{
    background: #000000;
    width: 100%;
  }
    .checkbtn{
      font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: flex;
    }
    ul{
      position: fixed;
      width: 30%;
      height: 100vh;
      background: #000000;
      top: 80px;
      right: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
  
    }
    nav ul li a{
      font-size: 20px;
      color: white;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    }

    a:hover{
      background: none;
      color: #464e53;
    }
    #check:checked ~ ul{
      right: 0;
    }

    label.logo{
      color: #902414;
      line-height: 80px;
      padding: 0 100px;
      font-weight: bold;
        font-size: 30px;
        padding-left: 50px;
    }

    #check {
      display:none;
    }

  /*
  ----------------------------------------
  */

  .main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .homeProfile {
    display: none;
    flex-direction: column;
    background-color: #000000;
    color: #FFFFFF;
    margin-top: 8px;
    width: 40%;
    align-items: center;
  }

  .homeProfile img {
   background-color:#902414; 
  }
  .homeProfile figure {
    margin-left: auto;
    margin-right: auto;
  }
  .homeProfile figcaption {
    padding: 5%;
    font-family: 'Livvic', sans-serif;
  }
  .posts {
    display:flex;
    width: 100%;
    height: 1''vh;
    flex-direction: column;
  }
  .homeEditor{
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: #FFFFFF;
    margin-top: 8px;
    width: 100%;
    padding-top: 10%;
  }
  .homeEditor button{
    width: 150px;
    height: 30px;
    border-radius: 20px;
    background-color:white;
    color: #902414;
    font-weight:bolder;
    margin: 2%;
    font-family: 'Livvic', sans-serif;
  }
  .homeEditor textarea{
    height: 60%;
    width: 80%;
    padding: 10px;
    margin: auto;
    font-family: 'Livvic', sans-serif;
  }
  .postButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 5%;
  }
 /* ---------------------POSTS------------------------ */
.divPost{ 
  border-color: rgb(34, 34, 34);
  padding: 2vw;
  border: 5px solid black;
  border-radius: 20px ;
  margin: 2vw 5vw;
}
.postUserInformation {
  font-family: "Livvic";
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
}
.postUserInformation span {
  margin: 0px 3vw;
}
.editDeletePrivacy {
  margin: 5px;
  width:98%;
  display:flex;
  justify-content: flex-end;
}
.editDeletePrivacy button {
  background-color: white;
  color: black;
  font-family: 'Livvic', open-sans;
  border-color: rgb(71, 68, 68);
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  margin-left: 5px;
}
.contentPost {
  margin: 10px;
}
#likeButton{
  border: outset black;
  border-radius: 20%;
  padding: 3px 5px;
  font-size: 15px;
}
#like{
  width: 20px;
  height: 20px;
}

  @media (min-width: 858px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }

  @media (min-width: 952px) {
    nav{
      background: #000000;
      height: 80px;
      width: 100%;
    }
    label.logo{
      font-size: 35px;
      line-height: 80px;
      padding: 0 100px;
      font-weight: bold;
    }

    ul{
      position: absolute;
      width: 30%;
      height: 10vh;
      background: #050505;
      top: 0%;
      right: 0%;
      text-align: center;
      transition: all none;
    }

    nav ul{
      float: right;
      margin-right: 20px;
      height:8vh;
    }
    nav ul li{
      display: inline-block;
      line-height: 80px;
      margin: 0 5px;
    }
    nav ul li a{
      color: white;
      font-size: 17px;
      border-radius: 3px;
      text-transform: uppercase;
    }
    a:hover{
      background: #515457;
      transition: .5s;
    }
    .checkbtn{
      display: none;
    }
    #check{
      display: none;
    }
    .main{
      display:flex;
      flex-direction: row;
    }
    .homeProfile{
      display:flex;
      width:28%;
      margin-left: 0%;
      height: 100vh;
    }
    .homeEditor{
      width:100%;
      margin-right: 0%;
      height: 20vh;
      padding-top: 5%;
      padding-bottom: 0%;
    }
    .divPost {
      padding: none;
      width: 90%;
      padding: 0.5vw;
      border: 5px solid black;
      border-radius: 10px ;
      margin-left: auto;
      margin-right: auto;
    }
    .postArea {
      width:100%;
      margin: none;
      padding: none;
    }
    .textArea {
      height:10vh;
      width:70%;
    }

    .postButtons {
      width:80%;
      margin-top: 0%;
      margin-bottom: 0%;
      margin-right: auto;
      margin-left: auto;
      padding: 0%;

    }
    .posts {
      width:70%;
      margin-right: 0%;
      height: 100vh;
    }
    
  }
@media(max-width: 420px){
  label.logo{
    font-size: 5vw;
    padding: 0vw 5vw;
  }
}
