 .signUpContainer {
    background: linear-gradient( 45deg, purple, wheat);
    font-family: 'Livvic', sans-serif;
    color: #000000;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    align-items: center;
}
.signUpForm {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding: 1%;
}
.signUpForm h2{
    font-size: 6vh;
    font-weight: bold ;
    color: white;
}
.signUpInput {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color:#FFFFFF;
    margin: 5px;
    margin-bottom: 2vh;
    background-color: transparent;
    font-family: 'Livvic', sans-serif;
    font-weight: 900;
    font-size: large;
    color: white;
}

.signUpButton {
    border: solid;
    border-color: #C4C4C4;
    border-radius: 25px;
    background-color: #C4C4C4;
    padding: 5px;
    margin: 10px;
    height: 35px;
    font-size: 15px;
    margin-bottom:20px;
}

.signUpImg {
    width: 100%;
}
.iconify { 
    width: 40vw; 
    height: 40vh; 
    padding: 0;
    border: 0;
}
.signUpHeader{
    background-image: url("../img/streeFoodShot4.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0px;
    height: 35%;
    width: 100%;
    margin-top: 0;
    right: 0;
    left: 0;

}
.signUpHeader h1 {
    color: wheat;
    background-color: rgba(133, 21, 133, 0.966);
    width: 90%;
    height: 50%;
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: dotted 7px;
    border-radius: 50%;
}
.signUpHeader::before{
    opacity: 0.85;
}

.signUpTitle {
    font-size: 8vh;
    font-weight: bold;
    color : white;
}

.google {
    border-radius: 50px;
    margin: 10px;
}

.footer {
    margin-top: 20px;
}

@media (min-width: 500px) {
    .signUpContainer {
        flex-direction: row;
    }

    .signUpHeader {
        background-size: 50vw 100vh;
        background-repeat: no-repeat;
        width:50vw;
        height:100vh;
        padding:0px;
        margin: none;
    }

    .signUpTitle {
        margin-top:25vh;
        
    }

    .signUpimg {
        display: none;
    }

    .signUpImg {
        width: 100%;
    }
    
    .signUpSection{
        margin-left:0%;
        margin-right:none;
        align-items:center;
        text-align:center;
        justify-content:center;
        background-color: #998F8F;
        width: 50%;
        height:100%;
    }
    .signUpForm {
        align-items:center;
        text-align:center;
        margin-left: auto;
        margin-right: auto;
        width:30%;
    }

    .signUpInput {
        width:48%;
        margin: 15px;
    }

    .signUpButton {
        width: 50%;
        background-color: wheat;
        font-family: 'Livvic', sans-serif;
        border: none;
        color: purple;
        font-weight: bold;
        font-size: 3vh;
    }
    .google button {
        margin-top:5%;
        background-color: none;
        border: outset 5px green;
        border-radius: 48%;
        padding: 5px;
    }
    
    .signUpFooter {
        margin-top:10%;
    }

    h2 {
        margin-bottom: 30px;
    }
}