/* .container {
    background-color: #998F8F;
    font-family: 'Livvic', sans-serif;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    align-items: center;
}
.signUpform {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}
.signUpinput {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color:#FFFFFF;
    margin: 5px;
    background-color: #998f8f;
}
.signButton {
    border: solid;
    border-color: #C4C4C4;
    border-radius: 25px;
    background-color: #C4C4C4;
    padding: 5px;
}

.signUpImg {
    width: 100%;
}

@media (min-width: 500px) {
    .signUpHeader {
        background-image: url(https://media.giphy.com/media/ANw1uAm7TsnTy/giphy.gif);
        background-size: 50vw 100vh;
        background-repeat: no-repeat;
        width:50vw;
        height:100vh;
        padding:0px;
        margin: none;
    }

    .signUph1{
        margin-top:45vh;
        font-size: 10vh;
    }

    .signUpimg {
        display: none;
    }

    .signUpcontainer {
        flex-direction: row;
        background-color: #FFFFFF;
    }
    .signUpImg {
        width: 100%;
    }
    
    section{
        margin-left:0%;
        margin-right:none;
        align-items:center;
        text-align:center;
        justify-content:center;
        background-color: #998F8F;
        width: 50%;
        height:100%;
    }
    form {
        align-items:center;
        text-align:center;
        margin-left: auto;
        margin-right: auto;
        width:100%;
        margin-top:30vh;
    }
    .google {
        margin-top:5%;
    }
} */