 .signUpContainer {
    background-color: #000000;
    font-family: 'Livvic', sans-serif;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    align-items: center;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
}
h2 {
    background-color: rgba(34, 31, 31, 0.329);
}
#signUpOrder{
    display: flex;
    flex-direction: row;
    left: 0;
    right:0;
    position: absolute;
}
span{
    align-items: center;
    display: flex;
}
#signUpForm{
    display: flex;
    flex-direction: column;
    top:0;
    bottom: 0;
    align-items: center;
}
.signUpForm {
    position: relative;
    top:0;
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin-top: 5vh;
    align-items: center;
}
.signUpInput {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color:#FFFFFF;
    margin: 5px;
    margin-bottom: 2vh;
    background-color: transparent;
    color: white;
}

.signUpButton {
    border: solid;
    border-color: transparent;
    border-radius: 25px;
    background-color: #dc1515b9;
    padding: 5px;
    margin: 10px;
    height: 35px;
    font-size: 15px;
    margin-bottom:20px;
    color: white;
}

.signUpImg {
    width: 100%;
}
.iconify { 
    width: 40vw; 
    height: 40vh; 
    padding: 0;
    border: 0;
}
.signUpHeader{
    background-image: url(../img/streeFoodShot6.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0px;
    height: 20%;
    width: 80%;
    margin-top: 0;
    right: 0;
    left: 0;
    opacity: 0.85;
}

.h2Up {
    margin-top: 6vh;
    font-size: xx-large;
}


.footer {
    margin-top: 20px;
}

@media (min-width: 850px) {
    

    .signUpHeader {
        background-size: 40vw 30vh;
        background-repeat: no-repeat;
        width:40vw;
        height:30vh;
        padding:0px;
        margin: none;
    }

    .signUpTitle {
        margin-top:25vh;
        
    }

    .signUpimg {
        display: none;
    }

    .signUpImg {
        width: 100%;
    }
    
    .signUpSection{
        margin-left:0%;
        margin-right:none;
        align-items:center;
        text-align:center;
        justify-content:center;
        background-color: #998F8F;
        width: 50%;
        height:100%;
    }
    .signUpForm {
        align-items:center;
        text-align:center;
        margin-left: auto;
        margin-right: auto;
        width:70%;
        margin-top: 5vh;
    }

    .signUpInput {
        width:48%;
        margin: 15px;
    }

    
    .signUpFooter {
        margin-top:10%;
    }

    .h2Up {
        font-size: 10vh;
        margin-top: 10vh;
    }
}