.signInContainer {
    background-color: #000000;
    font-family: 'Livvic', sans-serif;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    align-items: center;
}
.signInForm {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.formInput {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color:#FFFFFF;
    margin: 5px;
    margin-bottom: 2vh;
    background-color: transparent;
    color: white;
}

.signInButton {
    border: solid;
    border-color: transparent;
    border-radius: 25px;
    background-color: #dc1515b9;
    padding: 5px;
    margin: 10px;
    margin-top:15px;
    margin-bottom:20px;
    height: 35px;
    width:90%;
    font-size: 15px;
    color: white;
}


.signInHeader{
    background-image: url(../img/streeFoodShot5.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    margin: 0px;
    height: 25%;
    width: 100%;
    margin-top: 5vh;
    right: 0;
    left: 0;
    background-color: #302d2d;
    opacity: 0.85;
}

.signInTitle {
    margin-top: 10vh;
    background-color: rgba(34, 31, 31, 0.589);
}

.footer {
    margin-top: 20px;
}

.h2In {
    margin-top: 10vh;
}


@media (min-width: 1100px) {
    .signInContainer{
        flex-direction: row;
    }

    .signInHeader {
        background-size: 70vw 100vh;
        background-repeat: no-repeat;
        width:70vw;
        height:100vh;
        padding:0px;
        margin: none;
    }

    .signInTitle {
        margin-top:30vh;
        font-size: 6vh;
    }
    
    .signInSection{
        margin-left:0%;
        margin-right:none;
        align-items:center;
        text-align:center;
        justify-content:center;
        background-color: #998F8F;
        width: 50%;
        height:100%;
    }
    .signInForm {
        align-items:center;
        text-align:center;
        margin-left: auto;
        margin-right: auto;
        width:35%;
        height:100%;
    }

    .signInButton {
        width: 40%;
    }
    .google {
        margin-top:5%;
    }

    .h2In {
        margin-top: 25vh;
    }
}
